@import "tailwindcss";

@theme inline {
  /* Font */
  --font-sans: var(--font-manrope-sans);

  /* Font size: 15px */
  --font-base: 15px;

  /* Colors */
  /* Primary */
  --color-green-100: hsl(174, 77%, 80%);
  --color-green-400: hsl(174, 86%, 45%);
  --color-orange-100: hsl(0, 89%, 96%); /* Discount Background */
  --color-orange-400: hsl(15, 100%, 70%); /* Discount Text */
  --color-indigo-200: hsl(226, 100%, 87%); /* CTA Text */

  /* Neutral */
  /* White is for Pricing Component Background */
  --color-slate-50: hsl(230, 100%, 99%); /* Main Background */
  --color-slate-200: hsl(224, 65%, 95%); /* Empty Slider Bar */
  --color-slate-300: hsl(223, 50%, 87%); /* Toggle Background */
  --color-slate-400: hsl(225, 20%, 60%); /* Text */
  --color-slate-800: hsl(227, 35%, 25%); /* Text & CTA Background */

  /* Semantic tokens / color aliases as opposed to primitive tokens */
  --color-background: var(--color-slate-50);
  --color-text: var(--color-slate-400);
  --color-text-dark: var(--color-slate-800);

  --color-discount-background: var(--color-orange-100);
  --color-discount-text: var(--color-orange-400);

  --color-cta-background: var(--color-slate-800);
  --color-cta-text: var(--color-indigo-200);

  --color-pricing-background: var(--color-white);

  --color-empty-slider-bar: var(--color-slate-200);
  --color-toggle-background: var(--color-slate-300);
}

* {
  /* @apply outline outline-blue-500; */
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: var(--font-base);
}

/* Webkit */
input[type="range"]::-webkit-slider-runnable-track {
  height: 10px;
  border-radius: 9999px;
  background: linear-gradient(
    to right,
    var(--color-green-100),
    var(--color-green-100) var(--fill, 0%),
    var(--color-empty-slider-bar) var(--fill, 0%),
    var(--color-empty-slider-bar)
  );
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  background:
    url("/icon-slider.svg") no-repeat center / 60%,
    var(--color-green-400);
  cursor: pointer;
  transform: translateY(calc(-50% + 5px));

  @apply shadow-[0px_10px_12px_hsla(174,77%,80%,90%)];
}

/* Mozilla */

input[type="range"]::-moz-range-thumb {
  appearance: none;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  border: 0px;
  background:
    url("/icon-slider.svg") no-repeat center / 60%,
    var(--color-green-400);
  cursor: pointer;
  @apply shadow-[0px_10px_12px_hsla(174,77%,80%,90%)];
  @apply motion-safe:duration-300;
}

input[type="range"]::-moz-range-thumb:hover {
  filter: brightness(1.2);
}

input[type="range"]::-moz-range-thumb:active {
  filter: brightness(0.8);
}

input[type="range"]::-moz-range-progress {
  height: 100%;
  border-radius: 9999px;
  background: linear-gradient(
    to right,
    var(--color-green-100),
    var(--color-green-100)
  );
}

.checkmarkList {
  li {
    @apply pl-4;
  }
}
