@import "tailwindcss";

@theme inline {
  /* Font */
  --font-sans: var(--font-manrope-sans);

  /* Font size: 15px */
  --font-base: 15px;

  /* Colors */
  /* Primary */
  --color-green-100: hsl(174, 77%, 80%);
  --color-green-400: hsl(174, 86%, 45%);
  --color-orange-100: hsl(0, 89%, 96%); /* Discount Background */
  --color-orange-400: hsl(15, 100%, 70%); /* Discount Text */
  --color-indigo-200: hsl(226, 100%, 87%); /* CTA Text */

  /* Neutral */
  /* White is for Pricing Component Background */
  --color-slate-50: hsl(230, 100%, 99%); /* Main Background */
  --color-slate-200: hsl(224, 65%, 95%); /* Empty Slider Bar */
  --color-slate-300: hsl(hsl(223, 50%, 87%)); /* Toggle Background */
  --color-slate-400: hsl(225, 20%, 60%); /* Text */
  --color-slate-800: hsl(227, 35%, 25%); /* Text & CTA Background */

  --color-background: var(--color-slate-50);
  --color-text: var(--color-slate-400);
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  font-weight: 600;
}
